<h1> Create Artist </h1>
<ul>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <li> <%= error %> </li>
        <% end %>
    <% end %>
</ul>

<%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<br>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<br>
<%= f.submit %>
<% end %>